.container {
  background-color: #434857;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1a1c22;
  color: white;
  padding: 0.5rem;
  box-shadow: 0 0.14rem 0.14rem 0 rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  padding-left: 4.7rem;
}

.banner > p {
  margin-left: auto;
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 0.07rem solid #131313;
  transition: background-color 0.15s ease-in-out;
}

.back-button:hover {
  background-color: #131313;
}

.back-button img {
  width: 1.2rem;
}

.chart-selection {
  margin-left: auto;
}

.chart-selection button {
  padding-left: 1rem;
  padding-right: 1rem;
}

.chart-selection img {
  width: 2.5rem;
}

.graph__container {
  width: 980px;
  height: 500px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 990px) {
  .graph__container {
    width: 100%;
  }
}

@media only screen and (max-height: 560px) {
  .graph__container {
    height: 300px;
  }
}

@media only screen and (max-height: 340px) {
  .graph__container {
    height: 250px;
  }
}

::ng-deep .ngx-charts text {
  fill: #A0AABE;
}
