.container {
  background-color: #252830;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #1a1c22;
  color: white;
  padding: 0.5rem;
  box-shadow: 0 0.14rem 0.14rem 0 rgba(0, 0, 0, 0.45);
  text-align: center;
  animation: 1s linear banner-drop-down;
}

@keyframes banner-drop-down {
  0% {
    top: -4rem;
  }
  70% {
    top: -4rem;
  }
  100% {
    top: 0;
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: 0.3s linear fade-in;
}

.form__inputs {
  text-align: center;
}

.form__input {
  margin-top: 1rem;
  margin-right: 1rem;
  display: inline-block;
}

.form__input input {
  font-size: 2rem;
  padding: 0.5rem;
}

.form__label {
  color: #434857;
  margin: 0;
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  text-align: left;
}

app-loading-button {
  display: flex;
}

.error-message {
  background-color: #e64759;
  border: 0.14rem solid #9d1526;
  color: #ffffff;
  padding: 1rem;
  font-size: 1.3rem;
  margin-top: 1rem;
}
