<div class="container">
  <div class="banner">
    <p>Look up GitHub contributors for a given project using the inputs below</p>
  </div>
  <form class="form" #githubForm="ngForm" (ngSubmit)="fetchProjectData(user, repo)">
    <div class="form__inputs">
      <div class="form__input">
        <label>
          <p class="form__label">User</p>
          <input type="text" [(ngModel)]="user" name="user" required>
        </label>
      </div>
      <div class="form__input">
        <label>
          <p class="form__label">Repository</p>
          <input type="text" [(ngModel)]="repo" name="repo" required>
        </label>
      </div>
    </div>
    <app-loading-button [type]="'submit'" [loading]="loading" [disabled]="!githubForm.form.valid">View contributors</app-loading-button>
  </form>
  <div class="error-message" *ngIf="error">Unable to find project</div>
</div>