<div class="loading-button">
  <div class="spinner" *ngIf="loading"></div>
  <button type="{{type}}" [ngClass]="{'disabled': disabled}" [disabled]="disabled"><ng-content></ng-content></button>
</div>
