.loading-button {
  position: relative;
  margin-top: 1rem;
}

.loading-button > button {
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.spinner {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1997c6;
}

.spinner::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1.75rem;
  width: 1.75rem;
  border: solid 0.3rem #ffffff;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: 2s linear infinite spinner;
  will-change: transform;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
