/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

html {
  font-size: 14px;
}

@media only screen and (max-width: 430px), screen and (max-height: 460px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 270px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 220px) {
  html {
    font-size: 5px;
  }
}

input {
  border: 0.07rem solid #434857;
  color: #ffffff;
  background-color: #434857;
}

input:focus {
  color: #495057;
  background-color: #fff;
}

button {
  border: none;
  color: #ffffff;
  cursor: pointer;
  background-color: #1997c6;
  transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, opacity 0.15s ease-in-out;
  box-shadow: 0.07rem 0.14rem 0.14rem 0 rgba(0, 0, 0, 0.25);
  user-select: none;
}

button:not(.disabled):hover {
  background-color: #157da4;
}

button:not(.disabled):active {
  box-shadow: 0 0 0 0.2rem rgba(25, 151, 198, 0.5);
}

button.disabled {
  opacity: 0.65;
  cursor: default;
}

button.selected {
  background-color: #157da4;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  min-height: 100%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
